attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.10
idna==3.3
iniconfig==1.1.1
mysql-connector-python==8.0.27
packaging==21.3
Pillow==9.0.0
pluggy==1.0.0
progress==1.6
protobuf==3.17.3
py==1.11.0
pyparsing==3.0.7
pytest==6.2.5
PyYAML==6.0
requests==2.27.1
six==1.16.0
tabulate==0.8.9
toml==0.10.2
urllib3==1.26.8
